<h1>{{ image.name }}</h1>
<div style="width:100%;">
     <div style="width:60%;float:left;">
        <img src="{{ image.url }}" style="width:100%"/>
    </div>
    <div style ="width:30%;float:left">
        <p>Score: {{ image.votes }}</p>
        <form action = "{% url 'polls:upvote' image.id%}" method ="post">
            {% csrf_token %}
            <input type = "submit" value="LIKE">
        </form>
        <form action = "{% url 'polls:downvote' image.id%}" method ="post">
            {% csrf_token %}
            <input type = "submit" value="DISLIKE">
        </form>
        
    </div>
</div>

