<h1>SLIKE</h1>

{% if image_list  %}
    <div style="width:100%">
    {% for image in image_list %}
        <div style="width:30%; float:left; padding:10px;">
        <p>{{ image.name }}
            <small>
                {{ image.pub_date}}
            </small>
        </p>
        <a href="{% url 'polls:detail' image.id %}">
            <img src= "{{image.url}}" style="width:100%; height: 50%;"/>
        </a>
    </div>
    {% endfor %}
    </div>
{% else %}
    <h3>Nema učitanih slika</h3>

{% endif %}